.icon-html5{
	width: 55px;
	height: 55px;
}

.icon-css3 {
	width: 40px;
	height: 55px;
}

.icon-javascript {
	width: 98px;
	height: 55px;
}

.icon-java {
	width: 48px;
	height: 68px;
}

.icon-selenium {
	width: 55px;
	height: 55px;
}

.icon-jira {
	width: 95px;
	height: 55px;
}

.icon-monday {
	width: 48px;
	height: 55px;
}

.icon-testrail {
	width: 55px;
	height: 55px;
}

.icon-sql {
	width: 75px;
	height: 55px;
}

.icon-python {
	width: 43px;
	height: 55px;
}

.icon-fiddler {
	width: 55px;
	height: 55px;
}



